body{
    margin: 0;
    padding-top: 0;
    font-family: arial,roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: url(background.png);
    background-size: cover; /* Make the image cover the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Make the background image fixed in place */
    }


.header{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(96, 92, 92);
    height: 70px;
    z-index: 12;
    top: 0;
}



.left-section{
    margin-left:50px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    
}

.right-section{
    display: flex;
    flex: 1;
    max-width: 400px;
    justify-content: space-between;
    margin-right:50px ;
}

.right-section div{
    color: white;
    padding: 9px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.15s;
}

.right-section div:hover{
    background: grey;
}

.text{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    color: white;

}

.switch{
    margin-top:210px;
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.learn{
    width: 45%;
    height: 40px;
    font-size: 1.1vw;
    border-color: white;
    border-style: solid;
    background-color: transparent;
    color: white;
    font-weight: 700;
    transition: background-color 0.15s,
                color 0.15s      ;
    cursor: pointer;
}

.learn:hover{
    background-color: white;
    color: black;
}

.subs{
    width: 45%;
    height: 40px;
    font-size: 1.1vw;
    background-color: white;
    border: none;
    font-weight: 550;
    cursor: pointer;

}

#sample{
    animation:  text-change 1s infinite;
    font-size:4vw;
}




@keyframes text-change {
    0% { font-family: Arial, sans-serif; }
    20% { font-family: Georgia, serif; }
    40% { font-family: 'Times New Roman', serif; }
    60% { font-family: Verdana, sans-serif; }
    80% { font-family: 'Courier New', monospace; }
    100% { font-family: Arial, sans-serif; }
}

